<li id="slice-{{id}}" rel="{{id}}" class="slice {{css_class}}">
  <div class="control-bar">
    <a href="#" class="collapse">-</a>
    <span class="icon"></span>
    {{name}}
    <span class="slice-preview"></span>
  </div>
  <div class="slice-content">
    <ul>
      {{{content}}}
    </ul>
  </div>
  <span class="container-select-wrapper">
    <select class="container-select" />
  </span>
  <a href="#" class="delete">Delete</a>
</li>

