<div class="login">
  <%= form_for [:admin, @session] do |f| %>
    <p>
      <%= f.label :email %><br />
      <%= f.email_field :email %>
    </p>

    <p>
      <%= f.label :password %><br />
      <%= f.password_field :password %>
    </p>

    <p><%= f.submit "Sign in" %></p>
  <% end %>
</div>
