<!DOCTYPE html>
<html>
<head>
  <title><%= @page.name %></title>
  <%= stylesheet_link_tag :all %>
  <%= csrf_meta_tag %>
</head>
<body class="layout_one">
  <header>
    <nav>
      <%= primary_navigation %>
      <%= edit_in_cms %>
    </nav>
  </header>
  <article class="container_one">
    <%= container "body" %>
  </article>
</html>

