<li class="<%= page_classes(page) %>" rel="<%= page.id %>">
  <div class="page-item">
    <h2><%= link_to page.name, admin_page_entries_path(page) %></h2>

    <span class="item-actions primary">
      <%= link_to_add_entry page %>
      <%= link_to_all_entries page %>
      <%= link_to_view_page page %>
    </span>

    <span class="item-actions secondary">
      <%= link_to_edit_index_template page %>
      <%= link_to_edit_entry_template page %>
    </span>

  </div>

  <% if children.any? %>
    <ol class="page-children">
      <%= list_pages children %>
    </ol>
  <% end %>
</li>
