<div class="login">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

    <p>
      <%= f.label :email %><br />
      <%= f.email_field :email %>
    </p>

    <p>
      <%= f.label :password %><br />
      <%= f.password_field :password %>
    </p>

    <p><%= f.submit "Sign in" %></p>

    <% if false -%>
      <p>
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
        <%= link_to "Forgot your password?", new_password_path(resource_name) %><br />
      </p>
    <% end -%>

  <% end %>

</div>

