<!DOCTYPE html>
<html>
<head>
  <title><%= @page.name %></title>
  <%= stylesheet_link_tag :all %>
  <%= csrf_meta_tag %>
</head>
<body class="layout_two">
  <header>
    <nav>
      <%= primary_navigation %>
      <%= secondary_navigation %>
    </nav>
  </header>
  <article class="container_one">
    <%= container "container_one" %>
  </article>
  <aside class="container_two">
    <%= container "container_two" %>
  </aside>
  <footer>
    <p class="text"><%= t('address') %></p>
    <p class="html"><%= t('address.html') %></p>
  </footer>
</body>
</html>
